<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beranda</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <object th:replace="fragments/fragment :: navbar"></object>
    <div class="jumbotron">
    <div class="container p-5 text-center">
        <img src="https://image.flaticon.com/icons/svg/706/706184.svg" width="20%">
        <h2><b>Sistem Informasi Pasien</b></h2>
        <h5>Selamat datang di Sistem Informasi Pasien Rumah Sakit Uni</h5>
        <br>
        <button class="btn btn-primary">
            <a th:href="@{/pasien/tambah/}" style="color: white"> Tambah Pasien Baru </a>
        </button>
    </div>
    </div>
    <div style="margin: 2%">
        <br>
        <div class ="card">
            <div class = "card-header bg-dark text-white">
                Daftar Pasien
            </div>
            <div class = "card-body">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>NIK</th>
                        <th>Jenis Kelamin</th>
                        <th>Kode Pasien</th>
                        <th>Tempat Lahir</th>
                        <th>Tanggal Lahir</th>
                        <th>Telepon Emergency Contact</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pasien, iterationStatus : *{pasienList}">
                        <th scope="row" th:text="${iterationStatus.count}"></th>
                        <td th:text="${pasien.nama}"></a></td>
                        <td th:text="${pasien.nik}"></td>
                        <td>
                            <span th:if="${pasien.jenisKelamin == 1}">Laki-laki</span>
                            <span th:unless="${pasien.jenisKelamin == 1}">Perempuan</span>
                        </td>
                        <td th:text="${pasien.kode}"></td>
                        <td th:text="${pasien.tempatLahir}"></td>
                        <td th:text="${#dates.format(pasien.tanggalLahir, 'yyyy-MM-dd')}"></td>
                        <td th:text="${pasien.getEmergencyContact().getNoHp()}"></td>
                        <td scope="col" style="text-align: left">
                            <button class="btn btn-dark">
                            <a th:href="@{/pasien/} + ${pasien.nik} + @{/tambah-diagnosis}" style="color: white">Tambah Diagnosis</a>
                            </button>
                        </td>
                        <td scope="col" style="text-align: left">
                            <button class="btn btn-info">
                            <a th:href="@{/pasien?nikPasien=} + ${pasien.nik}" style="color: white">Lihat</a>
                            </button>
                        </td>
                        <td scope="col" style="text-align: left">
                            <button class="btn btn-primary">
                            <a th:href="@{/pasien/ubah/{nikPasien}(nikPasien= ${pasien.nik})} " style="color: white">Ubah</a>
                            </button>
                        </td>
                        <td scope="col" style="text-align: left">
                            <button class="btn btn-danger">
                            <a th:href="@{/}" style="color: white"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>
<object th:replace="fragments/fragment :: footer"></object>
</body>
</html>