<!DOCTYPE html>
<html xmlns:th="http://wwww.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beranda</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <object th:replace="fragments/fragment :: navbar"></object>
    <div class="container p-5 text-center">
        <h2>Sistem Informasi Pasien</h2>
    </div>
    <div style="margin: 2%">
        <button class="btn btn-primary">
            <a th:href="@{/pasien/tambah/}" style="color: white"> Tambah Pasien Baru </a>
        </button>
        <br>
        <br>
        <div class ="card">
            <div class = "card-header bg-dark text-white">
                Daftar Pasien
            </div>
            <div class = "card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>NIK</th>
                        <th>Jenis Kelamin</th>
                        <th>Kode Pasien</th>
                        <th>Tempat Lahir</th>
                        <th>Tanggal Lahir</th>
                        <th>Telepon Emergency Contact</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pasien, iterationStatus : *{pasienList}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${pasien.nama}"></a></td>
                        <td th:text="${pasien.nik}"></td>
                        <td>
                            <span th:if="${pasien.jenisKelamin == 1}">Laki-laki</span>
                            <span th:unless="${pasien.jenisKelamin == 1}">Perempuan</span>
                        </td>
                        <td th:text="${pasien.kode}"></td>
                        <td th:text="${pasien.tempatLahir}"></td>
                        <td th:text="${pasien.tanggalLahir}"></td>
                        <td th:text="${pasien.getEmergencyContact().getNoHp()}"></td>
                        <td class="float-right">
                            <button class="btn btn-dark">
                                <a th:href="@{/pasien/} + ${pasien.nik} + @{/tambah-diagnosis}" style="color: white"> Tambah Diagnosis </a>
                            </button>
                            <a th:href="@{/pasien?nikPasien=} + ${pasien.nik}" class="btn btn-sm btn-primary">Lihat</a>
                            <a th:href="@{/pasien/ubah/{nikPasien}(nikPasien= ${pasien.nik})}" class="btn btn-sm btn-dark">Ubah</a>
                            <br>
                            <br>
                            <a th:href="@{/}" class="btn btn-sm btn-danger">Hapus</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
</body>
</html>