<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Diagnosis Penyakit</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<object th:replace="fragments/fragment :: navbar"></object>
<div class="jumbotron">
<div class="container p-5 text-center">
    <h2>Sistem Informasi Pasien</h2>
    <br>
    <button class="btn btn-primary">
        <a th:href="@{/diagnosis-penyakit/tambah/}" style="color: white"> Tambah Diagnosis Penyakit Baru </a>
    </button>
</div>
</div>
<div class = "container">
    <br>
    <div class ="card">
        <div class = "card-header bg-dark text-white">
            Daftar Diagnosis Penyakit
        </div>
        <div class = "card-body">
            <table class="table">
                <thead>
                <tr style="text-align: center">
                    <th>No</th>
                    <th>Nama</th>
                    <th>Kode</th>
                    <th>Jumlah Pasien Terdiagnosis</th>
                    <th>Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="penyakit, iterationStatus : *{listPenyakit}" style="text-align: center">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${penyakit.nama}"></a></td>
                    <td th:text="${penyakit.kode}"></td>
                    <td style="text-align: center" th:text="${penyakit.listPasienDiagnosisPenyakit.size()}"></td>
                    <td>
                        <a th:href="@{/diagnosis-penyakit?idDiagnosis=} + ${penyakit.id}" class="btn btn-sm btn-primary">Lihat</a>
                        <a th:href="@{/}" class="btn btn-sm btn-dark">Ubah</a>
                        <a th:href="@{/diagnosis-penyakit/hapus/{id}(id = ${penyakit.id})}" class="btn btn-sm btn-danger">Hapus</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<object th:replace="fragments/fragment :: footer"></object>

</body>
</html>